@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200&family=League+Spartan:wght@700&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-almarena: "__almarena_274336", "__almarena_Fallback_274336";
}

.home {
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
}
@keyframes moveLines {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Adjust the distance to move up */
  }
}

.home__content {
  padding: 20% 0 4% 5%;
  background: url(../assets/images/pure-css-rain.gif) no-repeat center;
  background-size: cover;
  width: 100%;
}

@keyframes colorChange {
  0% {
    color: #ff6347;
  }
  50% {
    color: #00ffff;
  }
  100% {
    color: #ff6347;
  }
}

.home__content h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: gray;
}

.home__content h2 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-family: "Almendra", cursive;
}

.home__content h2 span {
  font-family: "Almendra", cursive;
  color: white;
  animation: colorChange 6s ease infinite alternate;
}

.home__content p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: gray;
  width: 85%;
}

.home__content p strong {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Almendra", cursive;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 0.9s ease;
  font-style: italic;
  background-image: linear-gradient(45deg, black 50%, gray 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  animation: waveAnimation 5s infinite alternate;
}

@keyframes waveAnimation {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: left bottom;
  }
}

.home__content p strong:hover {
  cursor: pointer;
}

.home__content__btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.home__content a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Almendra", cursive;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 0.9s ease;
}

.home__content a:hover {
  background-color: white;
  color: black;
}

/* skills */
.main-skill {
  background: black;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: 1px solid white;
}

.main-skill h2 {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Almendra", cursive;
  color: white;
  margin-top: 2rem;
  padding-left: 5%;
}

.skills {
  text-align: center;
  position: relative;
  margin: 20% 0 25% 0;
}

.skills h2 {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Almendra", cursive;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  width: 15%;
  margin: 0 auto;
  cursor: pointer;
  /* background: linear-gradient(to right, #ff9a9e, green, red, blue);
  box-shadow: 10px 10px 20px rgb(248, 89, 89),
  inset 0 0 10px rgb(111, 111, 255);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite; */
}

/* @keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.skills__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.skill {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.skill i {
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(45deg, #ff6347, #00ffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
}

.skill span {
  margin-top: 5px;
}

/* Positioning each skill */
.skill:nth-child(1) {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -95%);
}

.skill:nth-child(2) {
  top: 50%;
  left: calc(50% + 300px);
  transform: translate(-50%, -95%);
}

.skill:nth-child(3) {
  top: calc(50% - 250px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill:nth-child(4) {
  top: calc(50% + 200px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: 108px;
}

.skill:nth-child(5) {
  top: calc(50% + 100px);
  left: calc(50% + 200px);
  transform: translate(-50%, -50%);
}

.skill:nth-child(6) {
  top: calc(50% + 100px);
  left: calc(50% - 170px);
  transform: translate(-110%, -50%);
}

.skill:nth-child(7) {
  top: calc(50% - 180px);
  left: calc(50% + 200px);
  transform: translate(-50%, -50%);
}

.skill:nth-child(8) {
  top: calc(50% - 180px);
  left: calc(50% - 200px);
  transform: translate(-50%, -50%);
}

.skill::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 1px;
  background-color: white;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.skill:nth-child(1)::after {
  top: 20%;
  left: 170%;
  width: 200%;
}

.skill:nth-child(2)::after {
  top: 20%;
  left: -60%;
  width: 180%;
}
.skill:nth-child(3)::after {
  top: 70%;
  left: 50%;
  width: 1px;
  height: 110%;
}
.skill:nth-child(4)::after {
  top: -160%;
  left: 50%;
  width: 1px;
  height: 150%;
}

.skill:nth-child(5)::after {
  top: -46%;
  left: -70%;
  transform: rotate(38deg);
  width: 125%;
}

.skill:nth-child(6)::after {
  top: -30%;
  left: 60%;
  transform: rotate(-45deg);
  width: 150%;
}

.skill:nth-child(7)::after {
  top: 75%;
  left: -73%;
  transform: rotate(-45deg);
  width: 110%;
}

.skill:nth-child(8)::after {
  top: 70%;
  left: 54%;
  transform: rotate(45deg);
  width: 118%;
}

/* Projects */
.projects {
  background: black;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.projects__content {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.projects__content h2 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-family: "Almendra", cursive;
  color: white;
}

.projects__grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.projects__grid__item {
  background: black;
  width: 35%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: relative;
  z-index: 1;
}

.projects__grid__item__image {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
}

.projects__grid__item h3 a {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: gray;
  font-family: "Almendra", cursive;
}

.projects__grid__item p {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 1rem;
  width: 85%;
  color: gray;
  font-family: "Commissioner", sans-serif;
  font-family: "League Spartan", sans-serif;
}

.projects__grid__item__btns {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.projects__grid__item__btns a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Almendra", cursive;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 0.9s ease;
}

.projects__grid__item__btns a:hover {
  background-color: white;
  color: black;
}

.projects__grid :nth-child(3) {
  left: 60%;
}

.projects__grid :nth-child(1) {
  left: 5%;
}

.projects__grid :nth-child(2) {
  left: 30%;
}

.projects__btn {
  margin-top: 2rem;
}

.projects__btn a {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Almendra", cursive;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  transition: all 0.9s ease;
}

.projects__btn a:hover {
  background-color: white;
  color: black;
}

/* Blog */
.blog {
  background: black;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.blog__content {
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(28, 28, 28);
}

.blog__content h2 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-family: "Almendra", cursive;
  color: white;
}

.blog__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.blog__grid__item {
  background: black;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
}

.blog__grid__item h3 a {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 2rem;
  color: white;
  font-family: "Almendra", cursive;
}

.blog__grid__item .date {
  font-size: 0.8rem;
  font-weight: 100;
  margin-top: 1rem;
  color: rgb(201, 199, 199);
  font-family: "Commissioner", sans-serif;
  font-family: "League Spartan", sans-serif;
}

.blog__grid__item .date strong {
  font-size: 0.9rem;
  font-weight: bolder;
  color: white;
}

.blog__grid__item p {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: gray;
  font-family: "Commissioner", sans-serif;
  font-family: "League Spartan", sans-serif;
}

.btnnn {
  margin-left: -180%;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 100;
  font-family: "Almendra", cursive;
  margin-top: 1rem;
  transition: all 0.9s ease;
}

.blog__btn {
  margin-top: 2rem;
}

.blog__btn a {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  font-family: "Almendra", cursive;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  margin-left: 70%;
  text-align: end;
}

/* about */
.about {
  background: black;
  width: 100%;
  margin: 10% 0;
}

.about__content {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about__content img {
  width: 90%;
  height: 40%;
  /* border-radius: 50%; */
}

.about__content p {
  font-size: 1.3rem;
  color: rgb(203, 202, 202);
  font-weight: 100;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-family: "Commissioner", sans-serif;
  font-family: "League Spartan", sans-serif;
}

.about_content_btn a {
  color: white;
}


@media screen and (max-width: 500px) {
  .home__content {
    padding: 75% 0 4% 5%;
  }

  .home__content h2 {
    font-size: 1.5rem;
  }

  .home__content p {
    font-size: 1.2rem;
  }

  .home__content p strong {
    font-size: 1rem;
    animation: none;
    background-image: none;
    border: none;
  }

  .home__content__btns a {
    font-size: 1.1rem;
  }

  .main-skill h2 {
    font-size: 2rem;
  }

  .skills h2 {
    display: none;
  }

  .skills__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .skill {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    transform: none !important;
  }

  .skill i {
    font-size: 2rem;
  }

  .skill span {
    font-size: 1.5rem;
  }

  .skill:nth-child(1),
  .skill:nth-child(2),
  .skill:nth-child(3),
  .skill:nth-child(4),
  .skill:nth-child(5),
  .skill:nth-child(6),
  .skill:nth-child(7),
  .skill:nth-child(8) {
    top: auto;
    left: auto;
    transform: none;
  }

  .skill::after {
    display: none;
  }

  .projects__content {
    padding: 0 5%;
  }

  .projects__content h2 {
    font-size: 2rem;
  }

  .moving-lines {
    display: none;
  }

  .projects__grid {
    flex-direction: column;
    left: 0;
  }

  .projects__grid :nth-child(3),
  .projects__grid :nth-child(1),
  .projects__grid :nth-child(2) {
    left: 0;
  }

  .projects__grid__item {
    width: 100%;
  }

  .projects__grid__item__image {
    height: 20vh;
  }

  .projects__grid__item h3 a {
    font-size: 1.3rem;
  }

  .projects__grid__item p {
    font-size: 1rem;
  }

  .projects__grid__item__btns a {
    font-size: 1rem;
  }

  .projects__btn a {
    font-size: 1.3rem;
  }

  .blog__content {
    padding: 0 5%;
  }

  .blog__content h2 {
    font-size: 2rem;
  }

  .blog__grid {
    grid-template-columns: 1fr;
  }

  .blog__grid__item {
    width: 100%;
  }

  .blog__grid__item h3 a {
    font-size: 1.3rem;
  }

  .blog__grid__item .date {
    font-size: 0.8rem;
  }

  .blog__grid__item p {
    font-size: 1rem;
  }

  .blog__btn a {
    font-size: 1.2rem;
    margin-left: 0%;
  }

  .blog__grid__item__btn a{
    margin-left: 0%;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    padding: 0 5%;
  }

  .about__content img {
    width: 40%;
    height: 20%;
    margin: 0 auto;
    margin-left: 25%;
  }

  .about__content p {
    font-size: 1rem;
  }

  .about_content_btn a {
    font-size: 1rem;
  }
}
